@charset "utf-8";



.detail-container{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.detail-container-top{
    width: 100%;
    height: 15vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.detail-container-top-img{
    width: 11vw;
    height: 100%;
    background-color: #ff7d0f;
}
.detail-container-top-moviedetail{
    width: 81vw;
    height: 100%;
    background-color: #ffab36;
    font-size: x-large;
}

.detail-container-top-img-modify{
    width: 100%;
    margin: 0 0 0 3.8vw;
}

.modify-poster{
    width: 30vw;
    font-size: 1.5vw;
}

.modify-submit{
    font-size: 1.5vw
}

.detail-table{
    width: 100%;
    height: 100%;
}
.table-tr {
    width: 100%;
    height: 25%;
}
td{
    padding: 0px;
    font-size: 2vw;
}
.table-td-title{
    width: 15%;
    height: 25%;
    text-align: center;
}

.table-td-content{
    width: 35%;
    height: 25%;
}
.detail-container-director, .detail-container-actor{
    width: 45vw;
    height: 15vw;
    margin-top: 5px;
}

.director-slide, .actor-slide{
    width: 100%;
    height: 15vw;
}

.splide__track{
    width: 100%;
    height: 100%;
}

.detail-container-director-title, .detail-container-actor-title{
    width: 100%;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}

.detail-container-director-movies, .detail-container-actor-staffs{
    width: 100vw;
    height: 14vw;
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
}
.movies-container, .staffs-container{
    height: 100%;
    margin-right: 5px;
}

.movies-container{
    cursor: pointer;
}

.movies-container-img, .staffs-container-img{
    width: 8.8vw;
    height: 11vw;
    background-color: white;
}
.movies-container-title, .staffs-container-title{
    width: 8.8vw;
    height: 4vw;
    background-color: #ffab36;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.staffs-container-title > div, .movies-container-title > div{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;


}
.staffs-container-title > div > span, .movies-container-title > div > span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.5vw;
}
.detail-comments {
    margin-top: 3vw;
    width: 100%;
    height: 25vw;
    background-color: #ffab36;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.comments-container{
    width: 100%;
    height: 21vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #1113;
    overflow: auto;
}
.comments-container-write{
    width: 100%;
    height: 4.5vw;
    background-color: #ffb54a;
}
.comments-container-write > form{
    height: 100%;
    width: 100%;
}
.write-text{
    width: 89vw;
    height: 80%;
    border: 2px solid #1113;
    padding: 0;
    font-size: 1.5vw;
}
.form-submit{
    width: 9vw;
    height: 85%;
    border: 0;
    padding: 0;
    margin-left: 5px;
    background-color: white;
    font-size: 1.5vw;
}
.write-hidden-nickname, .write-hidden-code{
    width: 0;
    height: 0;
}
.star{
    border: 1px;
    padding: 0px;
}
.write-star{
    height: 50%;
    font-size: 2vw;
    margin-left: 0.5vw;
}
.write{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.comments-container-contents{
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2px;
    font-size: 1.5vw;
}

.comment{
    width: 100%;
    height: 2.5vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}
.comment-nickname{
    width: 13%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffbf76;
}
.comment-star{
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffa516;
}

.review-writebutton{
    position: absolute;
    right: 0.68vw;
    margin-top: 0.2vw;
    width: 9vw;
    height: 2vw;
    font-size: 1.5vw;
    padding: 0;
    border: 0;
    background-color: white;
    // display: none;
}

.comment-text{
    width: 76%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #ffb54a;
    padding-left: 1%;
}

.comment-delete{
    height: 100%;
    width: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffa516;
}
.comment-delete > span{
    cursor: pointer;
}

.comments-container-scroll {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
}

.detail-userinfo{
    width: 100%;
    height: 15vw;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    justify-content: center;
}
.detail-userinfo-gender, .detail-userinfo-age, .detail-userinfo-star{
    width: 31vw;
    height: 100%;
}
.detail-userinfo-gender{
    margin: 0px 2vw;
}

.detail-userinfo-title{
    margin-top: 2vw;
    width: 100vw;
    height: 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.detail-userinfo-title-left, .detail-userinfo-title-center, .detail-userinfo-title-right{
    width: 31vw;
    height: 2vw;
    background-color: #ffab36;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
}

.detail-userinfo-title-center{
    margin: 0px 2%;
}

.review-writebutton-writealread{
    font-size: 1vw;
}

@media screen and (max-width: 1280px) {
    .detail-container{
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .detail-container-top{
        width: 100%;
        height: 25vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .detail-container-top-img {
        width: 18vw;
        height: 100%;
        background-color: #ff7d0f;
    }

    .detail-container-top-img-modify{
        width: 100%;
        margin: 0;
    }

    td{
        padding: 0px;
        font-size: 3vw;
    }

    .detail-container-director-title, .detail-container-actor-title {
        width: 100%;
        height: 4vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4vw;
    }

    .detail-container-director-movies, .detail-container-actor-staffs {
        width: 100vw;
        height: 27vw;
        background-color: black;
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
    }

    .movies-container-img, .staffs-container-img {
        width: 18.7vw;
        height: 24vw;
        background-color: white;
    }

    .movies-container-title, .staffs-container-title {
        width: 18.7vw;
        height: 7vw;
        background-color: #ffab36;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .detail-userinfo-title {
        margin-top: 6vw;
        width: 100vw;
        height: 4vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .detail-userinfo-title-left, .detail-userinfo-title-center {
        width: 47vw;
        height: 4vw;
        background-color: #ffab36;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4vw;
    }

    .detail-userinfo-title-right{
        display: none;
    }

    .detail-userinfo-title-center{
        margin: 0 0 0 4vw;
    }

    .staffs-container-title > div > span, .movies-container-title > div > span{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 2.5vw;
    }

    .detail-userinfo {
        width: 100%;
        height: 47vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .detail-userinfo-star{
        display: none;
    }

    .detail-userinfo-gender, .detail-userinfo-age, .detail-userinfo-star {
        width: 47vw;
        height: 47vw;
    }

    .detail-userinfo-gender {
        margin: 0 0 0 4vw;
    }

    .detail-comments {
        margin-top: 8vw;
        width: 100%;
        height: 39vw;
        background-color: #ffab36;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .comments-container {
        width: 100%;
        height: 30vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background-color: #1113;
        overflow: auto;
    }

    .comments-container-contents {
        width: 100%;
        display: flex;
        justify-content: left;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 2px;
        font-size: 3.4vw;
        text-overflow: ellipsis;

    }

    .comment {
        width: 100%;
        height: 5vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .comment-text {
        width: 67vw;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #ffb54a;
        padding-left: 1%;
    }

    .comment-nickname {
        width: 13vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffbf76;
    }

    .comment-star {
        width: 15vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffa516;
    }

    .comment-delete {
        height: 100%;
        width: 2.9vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .comments-container-write{
        width: 100vw;
        height: 9vw;
    }

    .write-star {
        height: 50%;
        font-size: 3vw;
        margin-left: 0.5vw;
        display: flex;
        align-items: center;
    }

    .write-text {
        width: 86vw;
        height: 80%;
        border: 2px solid #1113;
        padding: 0;
        font-size: 3vw;
    }

    .form-submit {
        font-size: 2.5vw;
        width: 13vw;
        height: 85%;
        border: 0;
        padding: 0;
        margin-left: 0.2vw;
        background-color: white;
    }

    .director-slide, .actor-slide{
        width: 100%;
        height: 31vw;
    }

    .review-writebutton {
        position: absolute;
        right: 0.1vw;
        margin-top: 0.2vw;
        width: 13vw;
        height: 4vw;
        font-size: 2.5vw;
        padding: 0;
        border: 0;
        background-color: white;
    }

    .review-writebutton-writealread{
        font-size: 2vw;
    }

    .comments-container-writealready > span {
        font-size: 2.5vw;
    }

}

@media screen and (max-width: 1000px) {

    .write-text {
        width: 85vw;
        height: 80%;
        border: 2px solid #1113;
        padding: 0;
        font-size: 3vw;
    }

    .review-writebutton {
        position: absolute;
        right: 0.5vw;
        margin-top: 0.2vw;
        width: 13vw;
        height: 4vw;
        font-size: 2.5vw;
        padding: 0;
        border: 0;
        background-color: white;
    }

    .comments-container-writealready > span {
        font-size: 4vw;
    }
}