<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/resources/css/main/default.css">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    main{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        flex-flow: wrap;
        flex-direction: row;
    }
    .list{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .list-table{
        width: 100%;
    }
    .page-table-tr > td:hover:not(.page-table-tr > td[class="nowpage"]){
        color: #555555;
    }
    .page{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nowpage{
        color: #999999;
    }
</style>
<body>
    <header th:replace="/header.html"></header>
    <nav th:replace="/nav.html"></nav>
    <main>
        <div class="list">
            <table class="list-table">
                <th>이름</th>
                <th>장르</th>
                <th>감독</th>
                <th>개봉일</th>
                <th>제작상태</th>
                <th>제작국가</th>
            </table>
        </div>
        <div class="page">
            <table class="page-table">
                <tr class="page-table-tr">
                    <td class="nowpage">1</td>
                    <td onclick="pageNum(2)">2</td>
                    <td onclick="pageNum(3)">3</td>
                    <td onclick="pageNum(4)">4</td>
                    <td onclick="pageNum(5)">5</td>
                    <td onclick="pageNum(6)">6</td>
                    <td onclick="pageNum(7)">7</td>
                    <td onclick="pageNum(8)">8</td>
                    <td onclick="pageNum(9)">9</td>
                    <td onclick="pageNum(10)">10</td>
                </tr>
            </table>
            <input type="text" class="search">
            <button onclick="search()">검색</button>
        </div>
    </main>
</body>
<script>
    let page = 1;
    let backpage = 0;
    let searchKeyWord = "";
    $(function () {
        movieListPage();
        /*
        console.log("시작")
        $.ajax({
            type: "GET",
            url: "http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieList.json",
            data: {
                key: "ceabdcb6d52d7eb5709bbb09dc253b97",
                itemPerPage: "20"
            },
            dataType: "json",
            success:function (data) {
                let list = data.movieListResult.movieList;

                console.log(data)
                console.log(list)
                for(let i = 0; i<20; i++){
                    let director
                    try{
                        director = list[i].directors[0].peopleNm;
                    }catch (e) {
                        director = "";
                    }
                    $('.list-table')
                        .append("<tr onclick='alert("+list[i].movieCd+")'>" +
                        "<td>"+list[i].movieNm+"</td>"+ // 이름
                        "<td>"+list[i].genreAlt+"</td>"+ // 장르
                        "<td>"+director+"</td>"+ // 감독
                        "<td>"+list[i].openDt+"</td>"+ // 개봉일
                        "<td>"+list[i].prdtStatNm+"</td>"+ // 제작상태
                        "<td>"+list[i].nationAlt+"</td>"+ // 제작국가
                        "</tr>")
                }
            }
        });
        */
    });
    $('.search').keyup(function (e) {
        // enter의 키코드는 13
        if(e.keyCode == 13){
            search();
        }
    })
    function search() {
        searchKeyWord = $('.search').val()
        if(searchKeyWord == null || searchKeyWord == ""){
            alert("검색어를 입력해주세요");
        }else{
            backpage = page
            pageNum(1)
        }
    }
    // 페이지 번호
    function pageNum(pageNum) {
        page = pageNum
        if(page == 1){
            $('.page-table-tr').html(
                "<td class='nowpage'>1</td>"+
                "<td onClick='pageNum(2)'>2</td>"+
                "<td onClick='pageNum(3)'>3</td>"+
                "<td onClick='pageNum(4)'>4</td>"+
                "<td onClick='pageNum(5)'>5</td>"+
                "<td onClick='pageNum(6)'>6</td>"+
                "<td onClick='pageNum(7)'>7</td>"+
                "<td onClick='pageNum(8)'>8</td>"+
                "<td onClick='pageNum(9)'>9</td>"+
                "<td onClick='pageNum(10)'>10</td>"
            );
            movieListPage();
        }else if(page==2){
            $('.page-table-tr').html(
                "<td onClick='pageNum(1)'>1</td>"+
                "<td class='nowpage'>2</td>"+
                "<td onClick='pageNum(3)'>3</td>"+
                "<td onClick='pageNum(4)'>4</td>"+
                "<td onClick='pageNum(5)'>5</td>"+
                "<td onClick='pageNum(6)'>6</td>"+
                "<td onClick='pageNum(7)'>7</td>"+
                "<td onClick='pageNum(8)'>8</td>"+
                "<td onClick='pageNum(9)'>9</td>"+
                "<td onClick='pageNum(10)'>10</td>"
            );
            movieListPage();
        }else if(page==3){
            $('.page-table-tr').html(
                "<td onClick='pageNum(1)'>1</td>"+
                "<td onClick='pageNum(2)'>2</td>"+
                "<td class='nowpage'>3</td>"+
                "<td onClick='pageNum(4)'>4</td>"+
                "<td onClick='pageNum(5)'>5</td>"+
                "<td onClick='pageNum(6)'>6</td>"+
                "<td onClick='pageNum(7)'>7</td>"+
                "<td onClick='pageNum(8)'>8</td>"+
                "<td onClick='pageNum(9)'>9</td>"+
                "<td onClick='pageNum(10)'>10</td>"
            );
            movieListPage();
        }else if(page==4){
            $('.page-table-tr').html(
                "<td onClick='pageNum(1)'>1</td>"+
                "<td onClick='pageNum(2)'>2</td>"+
                "<td onClick='pageNum(3)'>3</td>"+
                "<td class='nowpage'>4</td>"+
                "<td onClick='pageNum(5)'>5</td>"+
                "<td onClick='pageNum(6)'>6</td>"+
                "<td onClick='pageNum(7)'>7</td>"+
                "<td onClick='pageNum(8)'>8</td>"+
                "<td onClick='pageNum(9)'>9</td>"+
                "<td onClick='pageNum(10)'>10</td>"
            );
            movieListPage();
        }else if(page==5){
            $('.page-table-tr').html(
                "<td onClick='pageNum(1)'>1</td>"+
                "<td onClick='pageNum(2)'>2</td>"+
                "<td onClick='pageNum(3)'>3</td>"+
                "<td onClick='pageNum(4)'>4</td>"+
                "<td class='nowpage'>5</td>"+
                "<td onClick='pageNum(6)'>6</td>"+
                "<td onClick='pageNum(7)'>7</td>"+
                "<td onClick='pageNum(8)'>8</td>"+
                "<td onClick='pageNum(9)'>9</td>"+
                "<td onClick='pageNum(10)'>10</td>"
            );
            movieListPage();
        }else{
            $('.page-table-tr').html("");
            for(let i = page-4; i<=page+5; i++ ){
                if(i > page+5){
                    break;
                }
                if(i == page){
                    $('.page-table-tr').append(
                        "<td class='nowpage'>"+i+"</td>"
                    );
                }else{
                    $('.page-table-tr').append(
                        "<td onClick='pageNum("+i+")'>"+i+"</td>"
                    );
                }


            }
            movieListPage();
        }

    }
    // 페이지 버튼을 누를 시 페이지에 맞는 영화목록
    function movieListPage() {
        $.ajax({
            type: "GET",
            url: "http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieList.json",
            data: {
                key: "ceabdcb6d52d7eb5709bbb09dc253b97",
                itemPerPage: "20",
                curPage: page,
                movieNm: searchKeyWord,
                repNationCd: 22041011
            },
            dataType: "json",
            success:function (data) {
                let list = data.movieListResult.movieList;

                if((list == null && page == 1) || (list == "" && page == 1) || (list.size == 0 && page == 1)){
                    alert("검색 결과가 없습니다.")
                    searchKeyWord = ""
                    pageNum(1)
                }else if(list == null || list == "" || list.size == 0){
                    alert("없는 페이지입니다.");
                    pageNum(backpage);
                }else{
                    backpage = page
                // 목록 초기화
                $('.list-table').html("<th>이름</th>\n" +
                    "                <th>장르</th>\n" +
                    "                <th>감독</th>\n" +
                    "                <th>개봉일</th>\n" +
                    "                <th>제작상태</th>\n" +
                    "                <th>제작국가</th>")

                for(let i = 0; i<20; i++){
                    let director
                    try{
                        director = list[i].directors[0].peopleNm;
                    }catch (e) {
                        director = "";
                    }
                    $('.list-table')
                        .append("<tr onclick='alert("+list[i].movieCd+")'>" +
                            "<td>"+list[i].movieNm+"</td>"+ // 이름
                            "<td>"+list[i].genreAlt+"</td>"+ // 장르
                            "<td>"+director+"</td>"+ // 감독
                            "<td>"+list[i].openDt+"</td>"+ // 개봉일
                            "<td>"+list[i].prdtStatNm+"</td>"+ // 제작상태
                            "<td>"+list[i].nationAlt+"</td>"+ // 제작국가
                            "</tr>")
                }
                }
            }
        });
    }
</script>
</html>