<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/resources/css/main/default.css">
    <link rel="stylesheet" href="/resources/css/main/korean.css">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav th:replace="/nav.html"></nav>
    <main>
        <div class="list">
            <table class="list-table">
                <th>이름</th>
                <th>장르</th>
                <th>감독</th>
                <th>개봉일</th>
                <th>제작상태</th>
                <th>제작국가</th>
            </table>
        </div>
        <div class="page">
            <table class="page-table">
                <tr class="page-table-tr">
                    <td class="nowpage">1</td>
                    <td onclick="pageNum(2)">2</td>
                    <td onclick="pageNum(3)">3</td>
                    <td onclick="pageNum(4)">4</td>
                    <td onclick="pageNum(5)">5</td>
                    <td onclick="pageNum(6)">6</td>
                    <td onclick="pageNum(7)">7</td>
                    <td onclick="pageNum(8)">8</td>
                    <td onclick="pageNum(9)">9</td>
                    <td onclick="pageNum(10)">10</td>
                </tr>
            </table>
            <input type="text" class="search">
            <button onclick="search()">검색</button>
        </div>
    </main>
</body>
<script src="/resources/js/main/korean.js"></script>
</html>