<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="resources/css/login/login.css">
    <title>점심은? 도전 점심!</title>
    <title>Title</title>
</head>

<body>
<div style="display: none" th:text="${auth}" id="alert_auth"></div>
<div style="display: none" th:text="${join}" id="alert_join"></div>
<div style="display: none" th:text="${findpw}" id="alert_findpw"></div>
<div style="display: none" th:text="${pwchange}" id="alert_pwchange"></div>
<video muted="muted" autoplay="autoplay" loop="loop" preload="auto" class="background-video">
    <!-- 영상을 여러개 돌려서 로그인창에 올 때 마다 바뀌면 좋을 것 같아요 -->
    <source src="resources/video/LoginVideo2.mp4" type="video/mp4">
</video>
<div class="video-screen"></div>
<div class="login">
    <div class="login-border">
        <div class="login-border-contents">
            <!-- <div class="login-border-contents-screen"></div> -->
            <div class="login-border-contents-title">도전 점심</div><br/>
            <!-- 로그인창에 올 때 마다 문구가 바뀌면 재밌을 것 같아요 -->
            <div class="login-border-contents-subtitle">점심 시간을 아름답게!</div>
            <form th:action="@{/login}" class="login-border-contents-form" method="post">
                <input class="login-border-contents-input" type="text" placeholder="이메일" autofocus="autofocus" name="email" id="login_user_email"/><br/>
                <input class="login-border-contents-input" type="password" placeholder="비밀번호" name="password" id="login_user_password"/><br/>
                <div class="login-border-contents-warning" th:text="${loginexception}"></div>
                <div class="login-border-contents-input-checkbox-container">
                    <input type="submit" value="로그인"/>
                    <label for="autologin" class="login-border-contents-input-label">
                        <input class="login-border-contents-input-autologin" type="checkbox" id="autologin">
                        <span>자동로그인</span>
                    </label>
                </div>
            </form>
            <div class="login-border-contents-links">
                <span class="user-join">회원가입</span>
                <!--<span class="user-findid">아이디 찾기</span>-->
                <span class="user-findpw">비밀번호 찾기</span>
            </div>
        </div>
    </div>
</div>
<div class="join">
    <div class="join-border">
        <div class="join-border-contents">
            <div class="join-border-contents-title">회원 가입</div>
            <div class="login-border-contents-subtitle">가입하고 맛집가자!</div>
            <form th:action="@{join}" class="join-border-contents-form" method="post">
                <input class="join-border-contents-input" type="email" placeholder="이메일" name="user_email" autofocus="autofocus" id="join_user_email"><br/>
                <div class="input-warning-email"></div><br/>
                <input class="join-border-contents-input" type="password" name="user_password1" placeholder="비밀번호" id="join_user_password1"/><br/>
                <div class="input-warning-userpassword1"></div><br/>
                <input class="join-border-contents-input" type="password" name="user_password2" placeholder="비밀번호 체크" id="join_user_password2"/><br/>
                <div class="input-warning-userpassword2"></div><br/>
                <input class="join-border-contents-input" type="text" name="user_nickname" placeholder="닉네임" id="join_user_nickname"/><br/>
                <div class="input-warning-nickname"></div><br/>
                <div class="join-border-contents-input-rrn-container">
                    <input class="join-border-contents-input-rrn" type="text" maxlength="6" name="user_yearmonthday" placeholder="주민번호 앞자리" id="join_user_yearmonthday"/>
                    <input class="join-border-contents-input-rrn" type="text" maxlength="1" name="user_gender" placeholder="1" id="join_user_gender"/>
                </div>
                <br/>
                <div class="input-warning-yandg">
                    <div class="input-warning-yearmonthday"></div>
                    <div class="input-warning-gender"></div>
                </div>
                <div class="join-border-contents-input-qanda-container">
                    <input class="join-border-contents-input-question" type="text" name="user_question" placeholder="질문" id="join_user_question"/>
                    <input class="join-border-contents-input-answer" type="text" name="user_answer" placeholder="답변" id="join_user_answer"/>
                </div><br/>
                <div class="input-warning-qanda">
                    <div class="input-warning-question"></div>
                    <div class="input-warning-answer"></div>
                </div>
                <div id="join_submit_notready_div"><input type="button" value="가입하기" id="join_submit_notready" onclick="join_submit_notready_alert();" /></div>
            </form>
            <div class="join-border-contents-links">
                <span class="join-close" onclick="joinReturnToLogin()">생각이 바꼈어요!</span>
            </div>
        </div>
    </div>
</div>
<!--
<div class="findid">
    <div class="findid-border">
        <div class="findid-border-contents">
            <div class="findid-border-contents-title">아이디 찾기</div>
            <div class="login-border-contents-subtitle">내가 가입을 했었나?</div>
            <form action="/user/findid" class="findid-border-contents-form">
                <input class="findid-border-contents-input" type="text" placeholder="질문" name="user_question" autofocus="autofocus"/><br/>
                <input class="findid-border-contents-input" type="text" placeholder="답변" name="user_answer" /><br/>
                <input type="submit" value="찾기"/>
            </form>
            <div class="join-border-contents-links">
                <span class="findid-close">갑자기 생각났어요!</span>
            </div>
        </div>
    </div>
</div>
-->
<div class="findpw">
    <div class="findpw-border">
        <div class="findpw-border-contents">
            <div class="findpw-border-contents-title">비밀번호 찾기</div>
            <div class="login-border-contents-subtitle">아.. 뭐였지?</div>
            <form action="/findpw" class="findpw-border-contents-form" method="post">
                <input class="findpw-border-contents-input" type="email" placeholder="이메일" name="user_email" autofocus="autofocus"/><br/>
                <input class="findid-border-contents-input" type="text" placeholder="질문" name="user_question"/><br/>
                <input class="findid-border-contents-input" type="text" placeholder="답변" name="user_answer" /><br/>
                <input type="submit" value="찾기"/>
            </form>
            <div class="join-border-contents-links">
                <span class="findpw-close">갑자기 생각났어요!</span>
            </div>
        </div>
    </div>
</div>
</body>
<script src="resources/js/login/login.js"></script>
</html>