<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="script">
    <link rel="stylesheet" href="/resources/css/default.css">
    <link rel="stylesheet" href="/resources/css/main/main.css">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="/resources/js/plugin/splide.min.js"></script>
    <script src='/resources/js/plugin/dragScroll.min.js'></script>
    <link rel="stylesheet" href="/resources/css/main/splide.min.css">
    <meta charset="UTF-8">
    <title>영화는 영화다</title>
</head>
<body>
    <nav th:replace="nav.html"></nav>
    <main>
        <div class="banner">
            <div class="banner-slide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide"><img class="banner-img" src="/resources/images/banner/banner-1.jpg"></li>
                        <li class="splide__slide"><img class="banner-img" src="/resources/images/banner/banner-2.jpg"></li>
                        <li class="splide__slide"><img class="banner-img" src="/resources/images/banner/banner-3.jpg"></li>
                    </ul>
                </div>
                <div class="splide__progress">
                    <div class="splide__progress__bar">
                    </div>
                </div>
            </div>
        </div>
        <div class="todaybox">
            <div class="todaybox-title">
                금일 박스오피스
            </div>
            <div class="todaybox-slide">
                <div class="splide__track">
                    <ul class="splide__list todaybox-top10"></ul>
                </div>
            </div>
            <!--<div class="today-top10"></div>-->
        </div>

        <div class="weekbox">
            <div class="weekbox-title">
                주간 박스오피스
            </div>
            <div class="weekbox-slide">
                <div class="splide__track">
                    <ul class="splide__list weekbox-top10">
                    </ul>
                </div>
            </div>
        </div>

        <div class="todayindie">
            <div class="todayindie-title">
                금일 독립영화 박스오피스
            </div>
            <div class="todayindie-slide">
                <div class="splide__track">
                    <ul class="splide__list todayindie-top10"></ul>
                </div>
            </div>
            <!--<div class="today-top10"></div>-->
        </div>

        <div class="weekindie">
            <div class="weekindie-title">
                주간 독립영화 박스오피스
            </div>
            <div class="weekindie-slide">
                <div class="splide__track">
                    <ul class="splide__list weekindie-top10">
                    </ul>
                </div>
            </div>
        </div>

        <!--
        <div class="div-list">
            <div class="div-list-title">오늘의 박스오피스</div>
            <div class="div-list-container">
                <div class="div-list-container-detail">

                </div>
                <div class="div-list-container-ranks">
                    <table class="div-list-container-ranks-table">
                        <th></th>
                        <th>영화명</th>
                        <th>관객수</th>
                    </table>
                </div>
            </div>
        </div>
        -->
    </main>
</body>
<footer th:replace="footer.html"></footer>
<script src="resources/js/main/main.js"></script>
</html>