<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type='text/css' href="/resources/static/css/main/main.css"/>

<head>
    <title>도전점심</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=gitm670wxt&callback=initMap"></script>
    <script type="text/javascript">
        var map = null;

        function initMap(){
            map = new naver.maps.Map('map', mapOptions);

        }
    </script>

    <link rel="stylesheet" href="../static/css/main/main.css">

    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src='../resources/static/js/main/mousewheel.min.js'></script>
    <script src='../resources/static/js/main/dragScroll.min.js'></script>
</head>

<body>
<header>
    <h1>도전 점심</h1>
</header>
<!--
<div>
    <form method="get">
        <input type="text" placeholder="식당, 음식 검색"/>
        <input type="button" value="검색"/>
    </form>
</div>
-->
<!-- main contents -->
<nav class="navigation">
    <ul>
        <li><a href="main.html">홈</a></li>
        <li><a href="memberinfo.html">회원정보</a></li>
        <li><a href="more.html">기타</a></li>
        <li style="float:right"><a class="active" href="logingo.html">로그아웃</a></li>
    </ul>
</nav>

    <div class="container">
        <div class="scroller">
            <input type="text" class="search"/>
            <input type="button" value="검색"/>
            <div class="wrapper">
                <div>점심추천 목록 1</div>
                <div>점심추천 목록 2</div>
                <div>점심추천 목록 3</div>
                <div>점심추천 목록 4</div>
                <div>점심추천 목록 5</div>
                <div>점심추천 목록 6</div>
                <div>점심추천 목록 7</div>
                <div>점심추천 목록 7</div>
                <div>점심추천 목록 7</div>
                <div>점심추천 목록 7</div>
                <div>점심추천 목록 7</div>
                <div>점심추천 목록 7</div>
                <div>점심추천 목록 7</div>
            </div>
        </div>
    </div>

    <div class="map" id="map" style="width:70%;height:100%;"></div>

<footer>
    <address>
        도전점심<br>
        팀원 : 권구달, 김재호, 김준영, 전재민 <br> 더조은 컴퓨터학원, Seoul, Jongno-gu, Supyo-ro, 105 육의전빌딩
    </address>
    <small>Copyright &copy; 2022</small>
</footer>

</body>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous">
</script>
<script src="dragScroll.js"></script>
<script src="../resources/static/js/main/dragScroll.min.js"></script>

<script src="dragScroll.js"></script>

<script type="text/javascript">
    var $container = $(".container");
    var $scroller = $(".scroller");
    bindDragScroll($container, $scroller);
</script>

<!-- map script -->

<script>
    var mapOptions = {
        center: new naver.maps.LatLng(37.5702, 126.9832),
        zoom: 10
    };
    var map = new naver.maps.Map('map', mapOptions);
</script>

</html>
