<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="/resources/css/default.css">
    <link rel="stylesheet" href="/resources/css/movie/movielist.css">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <meta charset="UTF-8">
    <title>영화는 영화다</title>
</head>
<body>
    <nav th:replace="nav.html"></nav>
    <main>
        <div style="height: 180vw">
            <div class="movielist">
            </div>
        </div>

        <div class="page">
            <table class="page-table">
                <tr class="page-table-tr">
                    <td class="nowpage">1</td>
                    <td onclick="pageNum(2)">2</td>
                    <td onclick="pageNum(3)">3</td>
                    <td onclick="pageNum(4)">4</td>
                    <td onclick="pageNum(5)">5</td>
                    <td onclick="pageNum(6)">6</td>
                    <td onclick="pageNum(7)">7</td>
                    <td onclick="pageNum(8)">8</td>
                    <td onclick="pageNum(9)">9</td>
                    <td onclick="pageNum(10)">10</td>
                </tr>
            </table>
            <div class="search">
                <input type="text" class="search-input">
                <button onclick="search()" class="search-button">검색</button>
            </div>
        </div>
    </main>
</body>
<script src="/resources/js/movie/movielist.js"></script>
</html>