/*
@charset "UTF-8";
header {
    width: 100%;
    height: 100px;
    background-color: #ffc50f;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}
.header-title{
    font-size: x-large;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-userinfo{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: right;
    color: black;
}
.header-userinfo > a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
.header-userinfo > a:hover{
    color: papayawhip;
}
*/