.banner {
    width: 100%;
    height: 45vw;
    background-color: #ffab36;
}

.banner-slide {
    width: 100%;
    height: 100%;
}

.splide__track{
    width: 100%;
    height: 100%;
}

.splide__progress__bar {
    height: 3px;
    background: white;
}

.banner-img{
    width: 100%;
    height: 100%;
    background-color: #bbbbbb;
}

.todaybox {
    margin-top: 2.5vw;
    width: 97%;
    height: 35vw;
}

.weekbox, .todayindie, .weekindie {
    margin-top: 5vw;
    width: 97%;
    height: 35vw;
}

.todaybox-slide, .weekbox-slide, .todayindie-slide, .weekindie-slide {
    width: 100%;
    height: 100%;
}

.todaybox-title, .weekbox-title, .todayindie-title, .weekindie-title{
    width: 100%;
    height: 3vw;
    font-size: 2.4vw;
    margin-left: 1.5vw;
}
/*
.today-top10, .week-top10 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: auto;
}
*/
.todaybox-top10-posters, .weekbox-top10-posters, .todayindie-top10-posters, .weekindie-top10-posters {
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    cursor: pointer;
}
.todaybox-top10-posters-img, .weekbox-top10-posters-img, .todayindie-top10-posters-img, .weekindie-top10-posters-img{
    width: 21vw;
    height: 90%;
    background-color: #f8ba00;
    margin-right: 1vw;
}
/*
.today-top10-titles{
    height: 5vw;
    display: flex;
    justify-items: left;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
*/
.todaybox-top10-posters-title, .weekbox-top10-posters-title, .todayindie-top10-posters-title, .weekindie-top10-posters-title {
    width: 21vw;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
}
.todaybox-top10-posters-title > span, .weekbox-top10-posters-title > span, .todayindie-top10-posters-title > span, .weekindie-top10-posters-title > span{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}




